@charset "UTF-8";

body {
	 /* border: solid 1px gray; */
		margin: 0;
		padding: 0;
		font-family: Arial, "MS Trebuchet", sans-serif;
		word-break: break-all;  /* 공백없이 영어로만 되어질 경우 해당구역을 빠져나가므로 이것을 막기위해서 사용한다. */
	}

	div#container {
	 /* border: solid 1px gray; */
		width: 80%;
		margin: 0 auto;
	}
	
	form {
		margin: 100px 0; 
	}
	
	legend {
		font-size: 20pt;
	}
	
	label.title {
		display: inline-block;
		width: 150px;
		color: navy;
		font-weight: bold; 
	}
	
	ul {
	 /* border: solid 1px red; */
		list-style-type: none;
		padding-left: 0;
	}
	
	li {
		line-height: 40px;
	}

    input.myinput {
    	height: 20px; 
    }


  /* 
    input[type="radio"] {
    	margin-right: 50px; 
    } 
  */

    /* 라디오 요소에 체크를 했을 경우 라디오 요소의 테두리를 오렌지색으로 주겠다.  */
    input[type="radio"]:checked { 
    	box-shadow: 0 0 0 3px orange;
    }
    
    
    /* 체크박스 요소에 체크를 했을 경우 체크박스 요소의 테두리를 분홍색으로 주겠다.  */
    input[type="checkbox"]:checked {
    	box-shadow: 0 0 0 3px pink;
    }
    

    label[for="female"] {
    	padding-left: 50px; 
    }
    
     
    select {
    	width: 150px;
    }  
    
    select.myselect {
    	height: 25px;
    }

    input.btn {
    	width: 100px;
    	height: 40px;
    	margin: 20px 0 0 40px; 
    	font-size: 14pt;
    	cursor: pointer;
    	color: #fff; 
    	border: none;
    	
    	border-radius: 10%;  /* 사각형을 깍어서 둥근사각형으로 만들어 주는 것  */
    }
    
    input[type="submit"] {
    	background-color: #001a66;
    }
    
    input[type="reset"] {
    	background-color: #990000; 
    } 
    
    
    span.errmsg {
    	font-size: 9pt;
    	color: red;
    	font-weight: bold; 
    }