@charset "UTF-8";

/* 상단컨텐츠 - 메인이미지와 썸네일 이미지가 div 밖으로 빠져나가지 못하게 막기 */
/* div.img_display, div.img_thumbnail {
	width: 50%;
} */

/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}

/* 상단컨텐츠 - 메인이미지영역 크기 설정 */
div.img_display {
	display: inline-block;
	min-width: 500px;
	min-height: 800px;
	margin: 0 auto;
}

/* 상단컨텐츠 - 매인이미지의 최대 크기 지정 */
img.big {
	min-width: 400px;
}

/* 상단컨텐츠 - 썸네일이미지 영역 설정 */
div.img_thumbnails {
	width: 500px;
	height: 100px;
	text-align: center;
}

/* 상단컨텐츠 - 썸네일이미지 너비 설정 */
img.small {
	width: 100px;
	height: 100px;
}
 
div.img_thumbnails {
	text-align: center;
}







/* 하단 컨텐츠 */
div.book_info_area {
	max-width: 80%;
	
}


/* 하단 컨텐츠 - 버튼그룹 시작 */
div.tab_btngroup {
	border: none;
	background-color: white;
	text-align: center;
	margin-top: 40px;
}

/* div.book_info_area > div {
	border-bottom: solid 1px #e8e8e8;
} */




div#book_info_area > div.tab_btngroup > button {
	display: inline-block;
	min-width: 160px;
	height: 35px;
	line-height: 35px;
	border: solid 1px #e8e8e8;
	/* border-bottom: none; */
	margin: 0 0 0 -3px;
	font-size: 12pt;
	color: #888;
	text-align: center;
	background-color: #F2F2F2;
}

div#book_info_area > div.tab_btngroup > button.btn_active {
	height: 40px;
	line-height: 40px;
	border: solid 1px #e8e8e8;
	border-bottom: none;
	font-size: 12pt;
	color: #333;
	text-align: center;
	background-color: #fff;
}

.majorheading {
	font-weight: bold;
	color: #c11e31;
	font-size: 12pt;
}

.majorheading2 {
	font-weight: bold;
	color: #333;
	font-size: 12pt;
}

.subheading {
	color: #333;
	font-size: 9pt;
	line-height: 1.8;
}

#btn_review_write, #btn_review_selectAll, #btn_qna_write, #btn_qna_selectAll {
	display: inline-block;
	min-width: 100px;
	height: 35px;
	line-height: 35px;
	border: solid 1px #333;
	font-size: 12pt;
	color: #fff;
	text-align: center;
	background-color: #333;
}
/* 하단 컨텐츠 - 버튼그룹 끝 */