@charset "UTF-8";


div.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
}

div.pagination a {
  color: black;
  text-decoration: none;
  width: 32px;
  height: 32px;
  text-align: center;
}

div.pagination a.active {
	border-bottom: solid 2px black;
  	
}

div.pagination a img {
	margin-top: -4px;
	vertical-align: middle;

}

div.pagination a:hover {
	/* filter: brightness(70%);  */
	font-weight: bolder;
	opacity: 0.3;
}
/* ****************************** */


/* ******************************* */



/* cart_items.jsp 관심상품 페이지 CSS 시작 */

table.cart {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
	
}

table.cart td {
	text-align: center;
	padding-left: 10px;
	height: 100px;
}

table.cart >  thead > tr > td {
	height: 50px;
	background-color: #FBFAFA;
}


table.cart  tr {
	border-top: solid 2px #e8e8e8;
}

table.cart tr:last-child {
	border-bottom: solid 2px #e8e8e8;
}

span.cart_choice > img {
	margin: 5px;
}

span.cart_order {
	float: right;
}

table.cart_none {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}

table.cart_none td {
	text-align: center;
	height: 100px;
}

table.cart_none tr {
	border-top: solid 2px #e8e8e8;
	border-bottom: solid 2px #e8e8e8;
}

/*  페이징 CSS 중복   */

	div.pagination {
	  display: inline-block;
	  width: 100%;
	  text-align: center;
	  margin: 20px 0;
	}
	
	div.pagination a {
	  color: black;
	  text-decoration: none;
	  width: 32px;
	  height: 32px;
	  text-align: center;
	}
	
	div.pagination a.active {
		border-bottom: solid 2px black;
	  	
	}
	
	div.pagination a img {
		margin-top: -4px;
		vertical-align: middle;
	
	}
	
	div.pagination a:hover {
		/* filter: brightness(70%);  */
		font-weight: bolder;
		opacity: 0.3;
	}
/* cart_items.jsp 관심상품 페이지 CSS 끝 */


