@charset "UTF-8";

.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}

/* 전체 컨테이너 */
div.container {
	width: 100%;
/* 	padding: 1em; */
}


/* Set height of body and the document to 100% */
body, html {
  height: 70%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink-none {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: default;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}