@charset "UTF-8";

/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}

/* 상단컨텐츠, 하단컨텐츠, 게시판영역 너비 설정 */
div.detail_top, div.detail_bottom, div.detail_board {
	width: 100%;
}

/* 상세보기 상단 그림영역, 상세보기 상단 글영역 */
.detail_top_img, .detail_top_text {
	float: none;
	margin: 0 auto; 
	/* margin-bottom: 40px; */
}

/* 상세보기 메인이미지 영역 지정 */
div.detail_img_display, div.detail_img_thumbnail, div.detail_top_text {
	text-align: center;
}

/* 상세보기 메인이미지의 최대 크기 지정 */
div.detail_img_display > a > img.big {
	height: 400px;
}

/* 상단컨텐츠 - 썸네일이미지 영역 설정 */
div.detail_img_thumbnails {
	width: 400px;
	height: 100px;
	/* text-align: center; */
}

/* 상단컨텐츠 - 썸네일이미지 너비 설정 */
img.small {
	width: 100px;
	height: 100px;
}

/* 상품보기 제품제목(detail_text_title), 상품보기 제품가격(detail_text_purchase), 상품보기 총주문액(detail_text_total) */ /* ************************ */


/* 상품보기 구매버튼(detail_text_button) */
.detail_text_button {
	 margin: 20px 0 20px 0;
}

/* 상품보기 구매버튼(detail_text_button) */
.detail_text_button > button#btn_buy, button#btn_cart {
	width: 120px;
	height: 40px;
	margin-right: 10px;
}

/* 상품보기 구매버튼(detail_text_button) */
.detail_text_button > button#btn_like {
	width: 120px;
	height: 40px;
}

/* 상품보기 카카오버튼(detail_text_button) */
.btn_book_kakao > button#btn_kakao {
	width: 400px;
	height: 40px;
	color: #000;
	background-color: #FEE500;
	margin-top: 10px;
}

div.detail_bottom {
	margin-bottom: 20px;
}

/* 상세보기 하단 버튼그룹 */
div.tab_btngroup > button.btn_active {
	height: 40px;
	line-height: 40px;
	border: solid 1px #e8e8e8;
	border-bottom: none;
	background-color: #fff;
	font-size: 12pt;
	text-align: center;
	margin-top: 40px;
}

/* 상세보기 하단 버튼그룹 */
div.tab_btngroup > button {
	display: inline-block;
	min-width: 160px;
	height: 35px;
	line-height: 35px;
	border: solid 1px #e8e8e8;
	margin: 0 0 0 -3px;
	font-size: 12pt;
	color: #888;
	text-align: center;
	background-color: #F2F2F2;
}

/* 상세보기 게시판 관련상품 */
div.detail_related_contents {
	text-align: center;
}

.majorheading {
	font-weight: bold;
	color: #c11e31;
	font-size: 12pt;
}

.majorheading2 {
	font-weight: bold;
	color: #333;
	font-size: 12pt;
}

.subheading {
	color: #333;
	font-size: 9pt;
	line-height: 1.8;
}