@charset "UTF-8";

/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}
div.detail_top table {
	width: 100%;
}

div.detail_top td.top_img {
	width: 50%;
	padding: 30 30 30 0;
	height:200px; 
} 

div.detail_top td.top_text {
	width: 50%;
	padding: 30 0 30 30;
	vertical-align: top;
} 

div.detail_top td.top_text table {
	width: 100%;
	margin: 0;
} 

div.detail_top td.top_text td.pro_title {
	font-size: 30px;
	line-height: 50px; 
	padding-top: 5px;
	padding-bottom: 10px;
	border-top: solid 1px #E8E8E8;
	border-bottom: solid 1px #E8E8E8;
	padding-left: 10px;
}

div.detail_top td.top_text td.pro_list {
	font-size: 15px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #E8E8E8;
	border-bottom: solid 1px #E8E8E8;
	padding-left: 10px;
}

div.detail_top td.top_text td.pro_list_val {
	font-size: 15px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #E8E8E8;
	border-bottom: solid 1px #E8E8E8;
}

div.detail_top td.top_text td.pro_list2 {
	font-size: 15px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #E8E8E8;
	border-bottom: solid 1px #E8E8E8;
	padding-left: 10px;
	background-color: #F9F9F7;
}

div.detail_top td.top_text td.pro_list_val2 {
	font-size: 15px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-top: solid 1px #E8E8E8;
	border-bottom: solid 1px #E8E8E8;
}

div.detail_top td.top_text td.pro_qty {
	text-align: center;
}
div.detail_top td.top_text td.pro_list_val2 input {
	width: 50px; 
	height: 23px;
	border: solid 1px #E8E8E8;

}

div.detail_top td.top_text td.pro_total_price {
	text-align: right;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.detail_top td.top_text td.pro_price {
	text-align: right;
	padding-right: 12px;
}

div.detail_top td.top_text td.pro_total_price strong {
	font-size: 20px;
	font-weight: bold;
	padding-right: 10px;
	
}

div.detail_top td.top_text td.button {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
}

div.detail_top td.top_text td.button .btn1 {
	background-color: #444444;
	background-image: linear-gradient(to bottom,#444444,#111111);
	color: white;
	width: 100%;
	border: none;
	height: 50px;
}

div.detail_top td.top_text td.button .btn2 {
	background-color: #f2f2f2;
	background-image: linear-gradient(to bottom,#f2f2f2,#e5e5e5);
	width: 100%;
	border: none;
	height: 50px;
}

div.detail_top td.top_text td.button .btn2:hover{
	background-image: linear-gradient(to bottom,#e5e5e5,#f2f2f2);
}
div.detail_top td.top_text td.button .btn1:hover{
	background-image: linear-gradient(to bottom,#111111,#444444);
}

/* 상세보기 하단 버튼그룹 */

div.tab_btngroup {
	border-bottom:  solid 1px #555555;
	
}

div.tab_btngroup > button.btn_active {
	
	height: 45px;
	line-height: 40px;
	border: solid 1px #555555;
	border-bottom: solid 1px white;
	background-color:white;	
	margin-top: 40px;
	color: black;
	border-collapse: collapse;
	position: relative;
	bottom: -1px;
	
}

div.tab_btngroup > button {
	min-width: 160px;
	height: 45px;
	line-height: 40px;
	border: solid 1px #e8e8e8;
	border-bottom: none;
	font-size: 12px;
	color: #888;
	text-align: center;
	background-color: #f6f6f6;
	margin-left: -3.5px;
	padding: 0;
}

div.tab_btngroup > button.btn1 {
	min-width: 160px;
	height: 40px;
	line-height: 40px;
	border: solid 1px #e8e8e8;
	border-bottom: none;
	font-size: 12px;
	color: #888;
	text-align: center;
	background-color: #f6f6f6;
	margin-left: -3.5px;
	padding: 0;
	position: relative;
	bottom: -3px;
}

div.tab_btngroup > button.btn1:hover {
	background-color:#F1F1F1;
	color: black;
} 
 
.majorheading {
	font-weight: bold;
	color: #333;
	font-size: 16pt;
} 

.majorheading2 {
	font-weight: bold;
	color: #333;
	font-size: 16pt;
}
 
p.subheading {
	color: #333;
	font-size: 15px;
	line-height: 25px;
}
 
div.detail_related_contents {
	text-align: center;
} 

/* Modal  */
.modal{
  top: 30% !important;
 
}

div.modal div.modal-footer {
	margin: 0 auto; 
	display: inline; 
	width: 100%; 
	text-align: center;	
}

div.modal .btn1 {
	background-color: #444444;
	background-image: linear-gradient(to bottom,#444444,#111111);
	color: white;
	width: 30%;
	border: none;
	height: 50px;
	display: inline;
}

div.modal .btn2 {
	background-color: #f2f2f2;
	background-image: linear-gradient(to bottom,#f2f2f2,#e5e5e5);
	width: 30%;
	border: none;
	height: 50px;
	display: inline;
}

div.modal .btn2:hover{
	background-image: linear-gradient(to bottom,#e5e5e5,#f2f2f2);
}

div.modal .btn1:hover{
	background-image: linear-gradient(to bottom,#111111,#444444);
}
 
 
 /* 상단컨텐츠, 하단컨텐츠, 게시판영역 너비 설정 */
div.detail_top, div.detail_bottom, div.detail_board {
	/* width: 100%; */
}

/* 상세보기 상단 그림영역, 상세보기 상단 글영역 */
.detail_top_img, .detail_top_text {
/* 	float: none;
	margin: 0 auto; 
	margin-top: 40px;
	width: 50%; */
}

/* 상세보기 메인이미지 영역 지정 */
div.detail_img_display, div.detail_img_thumbnail, div.detail_top_text {
	/* text-align: center; */
}

div.detail_img_display {
/* 	display: inline;
	margin-bottom: 40px;
 */
}

/* 상세보기 메인이미지의 최대 크기 지정 */
div.detail_img_display > a > img.big {
/* 	height: 400px; */
}


/* 

상단컨텐츠 - 썸네일이미지 영역 설정
링크 참조 - https://nscworld.net/2021/07/06/css-%EB%B0%95%EC%8A%A4%EC%95%88%EC%97%90-%EC%9D%B4%EB%AF%B8%EC%A7%80%EB%A5%BC-%EA%BC%AD-%EB%A7%9E%EC%B6%B0%EC%84%9C-%EB%84%A3%EB%8A%94-%EB%B0%A9%EB%B2%95/
div.detail_img_thumbnails {
	display: flex;
	flex-wrap: wrap;
	align-items:flex-start;
	position: relative;
	width: 400px;
	height: 100px;
	overflow: hidden;
	text-align: center;
}
 

 */
